body {
  background: url("images/bg_alley.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
    }
@font-face {
        font-family: Roboto;
        src: url(font/Roboto_SemiCondensed-Regular.ttf);
}
@font-face {
        font-family: ForevsBold;
        src: url(font/forevsdemo-bold.ttf);
}
@font-face {
  font-family: ForevsMedium;
  src: url(font/forevsdemo-medium.ttf);
}
@font-face {
  font-family: ForevsBoldItalic;
  src: url(font/forevsdemo-bolditalic.ttf);
}
.DLLogo {
    display: block;
    margin-left: 50px;
    margin-right: 5px;
    width: 25%;
    padding-bottom: 25px;
    padding-top: 5px;
  }

  .framedl {
    font-size: 70px;
    margin-left: -50px;
    margin-top: 100px;
  }
  .buttondll {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }

.Home {
  margin: 30px;
  border-radius: 5px;
  padding: 100px;
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}

.Home h1 {
  font-size: 70px;
  font-family: ForevsBold;
  font-weight: bold;
  margin-left: -50px;
  margin-top: 50px;
  text-align: left;
  display: block;
  color: white;
}

.Home p {
  font-size: 20px;
  font-family: ForevsMedium;
  margin-left: -50px;
  text-align: left;
  display: block;
  color: white;
}

.textbox {
  font-family: ForevsMedium;
}

.parallax {
  background: url("images/bg_alley.png") repeat fixed 100%;
}

.container td, th {
  width: auto;
  font-family: ForevsBold;
}

.responsive-table {
  width: 70%;
  margin-left: 25px;
  border-radius: 25px;
  margin-bottom: 1em;
  border-collapse: collapse;
  font-family: ForevsBold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.responsive-table th {
    background-color: #ff6404;
    padding: 5px;
    border-bottom: 2px solid #ffffff;
    font-weight: bold;
    text-align: center;
    color: white;
}

.responsive-table tr:nth-child(even) {
      background-color: #189cd4;
    }

    .responsive-table tr:nth-child(odd) {
      background-color: #303494;
    }

.responsive-table td {
  text-align: left;
  color: white;
  font-weight: bold;
  padding: 4px;
}

.responsive-table th:first-of-type {
  border-top-left-radius: 10px;
}
.responsive-table th:last-of-type {
  border-top-right-radius: 10px;
}
.responsive-table tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
.responsive-table tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}



.navmenu ul {
  border-radius: 2px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 0px;
  list-style-type: none;
  background-color: #f1f1f1;
  font-family: ForevsBold;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.navmenu li {
  float: left;
}

.navmenu li a {
  display: block;
  color: #1f1f21;
  padding: 20px 26px;
  text-decoration: none;
  text-align: center;
  font-family: ForevsBold;
}

.navmenu li a.active {
  background-color: #ffefd7;
  color: #1f1f21;
  font-family: ForevsBold;
}

.navmenu li a:hover:not(.active) {
  background-color: #1f1f21;
  color: #ffefd7;
  font-family: ForevsBold;
}