body {
  background: url("images/bg_alley.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
    }
@font-face {
        font-family: Roboto;
        src: url(font/Roboto_SemiCondensed-Regular.ttf);
}
@font-face {
        font-family: ForevsBold;
        src: url(font/forevsdemo-bold.ttf);
}
@font-face {
  font-family: ForevsMedium;
  src: url(font/forevsdemo-medium.ttf);
}
@font-face {
  font-family: ForevsBoldItalic;
  src: url(font/forevsdemo-bolditalic.ttf);
}
.DLLogo {
    display: block;
    margin-left: 50px;
    margin-right: 5px;
    width: 25%;
    padding-bottom: 25px;
    padding-top: 5px;
  }

  .framedl {
    font-size: 70px;
    margin-left: -50px;
    margin-top: 100px;
    margin-right: auto;
  }
  .buttondll {
    display: block;
    margin-left: 10px;
    margin-right: auto;
  }

.Home {
  margin: 30px;
  border-radius: 5px;
  padding: 100px;
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}

.Home h1 {
  font-size: 70px;
  font-family: ForevsBold;
  font-weight: bold;
  margin-left: -50px;
  margin-top: 50px;
  text-align: left;
  display: block;
  color: white;
}

.Home p {
  font-size: 20px;
  font-family: ForevsMedium;
  margin-left: -50px;
  text-align: left;
  display: block;
  color: white;
}

.navmenu ul {
  border-radius: 2px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 0px;
  width: auto;
  list-style-type: none;
  background-color: #f1f1f1;
  font-family: ForevsBold;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.navmenu li {
  float: left;
}

.navmenu li a {
  display: block;
  color: #1f1f21;
  padding: 30px 36px;
  text-decoration: none;
  text-align: center;
  font-family: ForevsBold;
  font-size: 25px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.navmenu li a.active {
  background-color: #ffefd7;
  color: #1f1f21;
  font-family: ForevsBold;
}

.navmenu li a:hover:not(.active) {
  background-color: #1f1f21;
  color: #ffefd7;
  font-family: ForevsBold;
}

.first-heading-upt {
  font-size: 40px;
  font-family: ForevsBold;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 50px;
  text-align: left;
  display: block;
  color: white;
}

.UpdatesTab {
  margin-bottom: 100px;
}
.updates a img {
  width: 20%;
  position: relative;
  z-index: 1;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  margin-bottom: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

@media (max-width: 768px) { 
  .container { 
      padding: 10px; /* Adjust padding for smaller screens */ 
  } 
} 

.updates a:hover img {
  transform: scale(1.1); /* Increases size by 10% */
}


div.container {
  text-align: center;
  font-family: ForevsBold;
  padding: 10px 20px;
}

.main_footer {
  margin: -1%;
  margin-top: 100px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 100px;
  background: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
}

.gallery {
  display: block;
  margin-top: 125px;
  margin-right: 250px;
  float: right;
}

.forumanddiscordlist li {
  font-family: ForevsBold;
  float: center;
}

.forumanddiscordlist li {
  font-family: ForevsBold;
  float: center;
}

.forumanddiscordlist ul {
  padding: 0px;
  width: 550px;
  list-style-type: none;
  font-family: ForevsBold;
  font-size: 50px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.forumanddiscordlist li a {
  display: block;
  margin-top: 40px;
  color: #ffefd7;
  padding: 20px 56px;
  text-decoration: none;
  text-align: center;
  font-family: ForevsBold;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.forumanddiscordlist li a:hover {
  color: #c5ff48;
  font-family: ForevsBold;
}
