body {
  background: url("images/bg_alley.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
    }
@font-face {
        font-family: Roboto;
        src: url(font/Roboto_SemiCondensed-Regular.ttf);
}
@font-face {
        font-family: ForevsBold;
        src: url(font/forevsdemo-bold.ttf);
}
@font-face {
  font-family: ForevsMedium;
  src: url(font/forevsdemo-medium.ttf);
}
@font-face {
  font-family: ForevsBoldItalic;
  src: url(font/forevsdemo-bolditalic.ttf);
}

  .framedl {
    font-size: 70px;
    margin-left: -50px;
    margin-top: 100px;
    margin-right: auto;
  }
  .buttondll {
    display: block;
    margin-left: 10px;
    margin-right: auto;
  }

.Home {
  margin: 30px;
  border-radius: 5px;
  padding: 100px;
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}

.WIP h1 {
  font-size: 70px;
  font-family: ForevsBold;
  font-weight: bold;
  margin-left: -5px;
  margin-right: auto;
  text-align: center;
  display: block;
  color: white;
}

.wiplogo1 {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.Home h1 {
  font-size: 50px;
  font-family: ForevsBold;
  font-weight: bold;
  margin-left: -50px;
  margin-top: 50px;
  text-align: left;
  display: block;
  color: white;
}

.Home p {
  font-size: 20px;
  font-family: ForevsMedium;
  margin-left: -50px;
  text-align: left;
  display: block;
  color: white;
}

.mainlogo {
  margin-left: 8px;
  width: 300px;
  float: left;
  height: auto;

}

.navmenu-container ul {
  font-family: ForevsBold;
  width: auto;
  list-style-type: none;
  background-color: #f1f1f1;
  margin: auto;
  padding: auto;
}

.navmenu-container li {
  float: left;
  list-style-type: none;
}

.navmenu-container li a {
  display: block;
  margin-top: 15px;
  /*background-color: #ffefd7;*/
  padding: 20px 46px;
  text-align: center;
  font-family: ForevsBold;
  font-size: 27px;
  position: relative;
  color: #ffefd7;
  list-style-type: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.navmenu-container li a:hover:not(.active) {
  background-color: #1f1f21;
  color: #ffefd7;
  list-style-type: none;
  font-family: ForevsBold;
}

.first-heading-upt {
  font-size: 60px;
  font-family: ForevsBold;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  display: block;
  color: white;
}

.updates-image-container {
  margin-bottom: 100px;
  margin-left: 50px;
  display: flex;
  gap: 3vw;
  overflow-x: auto;
  overflow: visible !important;
  width: 90vw;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  flex-shrink: 0;
}
.updates-image-container a img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  display: inline-flex;
}

.updates-image-container::-webkit-scrollbar {
  width: 10px;
  overflow: visible !important;
  height: 10px;
}
.updates-image-container::-webkit-scrollbar-thumb {
  background: white;
  overflow: visible !important;
  border-radius: 10px;
}
.updates-image-container::-webkit-scrollbar-track {
  background: transparent;
  overflow: visible !important;
}

.updates-image-container a img {
  transition: transform 0.3s ease-in-out;
}

.playerimage {
  width: 100%;
  position: relative;
  height: auto;
  display: inline-block;
  margin-bottom: 25px;
  margin-right: 50px;
  z-index: -1;
  margin-top: 25px;
}

.updates-image-container a:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1) !important; /* Increases size by 10% */
}



div.container {
  text-align: center;
  font-family: ForevsBold;
  padding: 10px 20px;
  
}

.main-footer {
  margin-left: -19vw;
  margin-right: -19vw;
  margin-bottom: -15px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
  background: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
}

.gallery {
  display: block;
  margin-top: 125px;
  margin-right: 250px;
  float: right;
}


.forumanddiscordlist li {
  font-family: ForevsBold;
  list-style-type: none;
}

.forumanddiscordlist ul {
  padding: 0px;
  width: auto;
  list-style-type: none;
  font-family: ForevsBold;
  font-size: 50px;
  position: absolute;
  display: inline-block;
  text-align: justify;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.forumanddiscordlist li a {
  margin-top: 40px;
  color: #ffefd7;
  padding: 20px 56px;
  text-decoration: none;
  text-align: center;
  font-family: ForevsBold;
  transition-property: background-color;
  transition-duration: 0.5s;
  list-style-type: none;
}

.forumanddiscordlist li a:hover {
  color: #c5ff48;
  font-family: ForevsBold;
}

