body {
  background: url("images/bg_alley.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
    }
@font-face {
        font-family: Roboto;
        src: url(font/Roboto_SemiCondensed-Regular.ttf);
}
@font-face {
        font-family: ForevsBold;
        src: url(font/forevsdemo-bold.ttf);
}
@font-face {
  font-family: ForevsMedium;
  src: url(font/forevsdemo-medium.ttf);
}
@font-face {
  font-family: ForevsBoldItalic;
  src: url(font/forevsdemo-bolditalic.ttf);
}

  .framedl {
    font-size: 70px;
    margin-left: -50px;
    margin-top: 100px;
    margin-right: auto;
  }
  .buttondll {
    display: block;
    margin-left: 10px;
    margin-right: auto;
  }

.Home {
}

.Home h1 {
  font-size: 70px;
  font-family: ForevsBold;
  font-weight: bold;
  margin-left: -5px;
  margin-right: auto;
  text-align: center;
  display: block;
  color: white;
}

.mainlogo {
  width: 250px;
  float: left;
  height: auto;

}
.mainlogo1 {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.navmenu-container ul {
  font-family: ForevsBold;
  width: auto;
  list-style-type: none;
  background-color: #f1f1f1;
  margin: auto;
  padding: auto;
}

.navmenu-container li {
  float: left;
  list-style-type: none;
}

.navmenu-container li a {
  display: block;
  margin-top: 15px;
  /*background-color: #ffefd7;*/
  padding: 20px 46px;
  text-align: center;
  font-family: ForevsBold;
  font-size: 27px;
  position: relative;
  color: #ffefd7;
  list-style-type: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.navmenu-container li a:hover:not(.active) {
  background-color: #1f1f21;
  color: #ffefd7;
  list-style-type: none;
  font-family: ForevsBold;
}

.first-heading-upt {
  font-size: 40px;
  font-family: ForevsBold;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 50px;
  text-align: left;
  display: block;
  color: white;
}

.updates-image-container {
  margin-bottom: 100px;
  margin-left: 50px;
  display: flex;
  gap: 40px;
  overflow-x: auto;
}
.updates a img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;

  transition: transform 0.3s ease-in-out;
}
@media only screen and (max-width: 20vw) {
.playerimage {
  width: 10vw;
  height: auto;
  margin-bottom: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
}
}

.playerimage a:hover {
  transform: scale(1.1); /* Increases size by 10% */
}



div.container {
  text-align: center;
  font-family: ForevsBold;
  padding: 10px 20px;
}

.main_footer {
  margin: -1%;
  margin-top: 100px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 100px;
  background: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
}

.gallery {
  display: block;
  margin-top: 125px;
  margin-right: 250px;
  float: right;
}

.forumanddiscordlist li {
  font-family: ForevsBold;
  float: center;
}

.forumanddiscordlist li {
  font-family: ForevsBold;
  float: center;
}

.forumanddiscordlist ul {
  padding: 0px;
  width: 550px;
  list-style-type: none;
  font-family: ForevsBold;
  font-size: 50px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.forumanddiscordlist li a {
  display: block;
  margin-top: 40px;
  color: #ffefd7;
  padding: 20px 56px;
  text-decoration: none;
  text-align: center;
  font-family: ForevsBold;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.forumanddiscordlist li a:hover {
  color: #c5ff48;
  font-family: ForevsBold;
}
