

@font-face {
  font-family: 'Pulp';
  src: url("font/valvepulp-bold.ttf") format("truetype");
  font-weight: 800;
  font-style: bold
}

@font-face {
  font-family: 'Occult';
  src: url("font/valveoccult-semibold.ttf") format("truetype");
  font-weight: 800;
  font-style: bold
}

@font-face {
  font-family: 'Reaver';
  src: url("font/reaver-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Reaver Bold';
  src: url("font/reaver-bold.otf") format("opentype");
  font-weight: 600;
  font-style: bold
}

@font-face {
  font-family: "Retail";
  src: url("font/retaildemo-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Retail";
  src: url("font/retaildemo-bold.ttf") format("truetype");
  font-weight: 1200;
  font-style: bold;
}

@font-face {
  font-family: "Retail";
  src: url("font/retaildemo-medium.ttf") format("truetype");
  font-weight: 600;
  font-style: medium;
}

@font-face {
  font-family: "Radiance";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.eot");
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.woff") format("woff"), url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.ttf") format("truetype"), url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.svg#ywftsvg") format("svg");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: "Radiance";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot");
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot?#iefix") format("embedded-opentype"), url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.woff") format("woff"), url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.ttf") format("truetype"), url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg") format("svg");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: "Open Sans Thai";
  src: url("notosansthai-regular.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Thai";
  src: url("notosansthai-light.ttf");
  font-weight: 400;
  font-style: light;
}

@font-face {
  font-family: "Open Sans Thai";
  src: url("notosansthai-bold.ttf");
  font-weight: 600;
  font-style: bold
}

.HP {
  background: #000000;
}

.HP2 {
  background: url("images/Background_Buildings.png");
  background-size: 150%;
  background-repeat: repeat;
  background-attachment: fixed;
}

.HP4 {
  background: url("images/bg_alley3.png");
  background-size: 150%;
  background-repeat: repeat;
  background-attachment: scroll;
}

.H {
  background: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.HP3 {
  background: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.ContainerShitWE {
  height: 100%;
  width: fit-content;
  max-width: 60%;
  display: flex;
  margin-right: 350px;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  pointer-events: auto;
  font-size: 20px;
  font-family: "Radiance", sans-serif;
  letter-spacing: 2px;
  color: #ffffff90;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
  bottom: 0;
  top: 1;
  z-index: 10;
  position: absolute;
}

@media(max-width: 1900px) {
  .ShitWE .WE .ContainerShitWE {
    font-size: 1px;
  }
}


.ShitWE {
  font-size: 60px;
  line-height: 113%;
  font-family: "Occult", serif;
  letter-spacing: 5px;
  font-weight: 600;
  color: #ffffffee;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px #000
}

.WE {
  font-size: 20px;
  font-family: "Reaver", sans-serif;
  letter-spacing: 2px;
  color: #ffffff90;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 20px;
  text-transform: uppercase
}

.clampwidth {
width: 100%;
height: 100%;
align-items: center;
}

.HeroInfo {
width: 600px;
padding: 0px;
margin: 50px;
flex-wrap: wrap;
vertical-align: bottom;
overflow: hidden;
}


.HeroInfo .HeroLogo {
  width: 600px;
  height: 160px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  display: flex;
  vertical-align: middle;
  background-image: url("images/hero_names/abrams.svg");
  }

  .HeroInfo .HeroTags
  {
    align-items: center;
    justify-content: center;
    padding: 0px 0px 10px 0px;
    overflow: collapse;
    display: flex;
    width: 100%;
  }

  .HeroInfo .HeroTags .heroTag
{
	padding: 5px;
	height: 50px;
}

.HeroInfo .HeroTags .heroTag .tagBacker
{
	width: 100%;
	height: 96%;
	background-color: #2092AE;
  box-shadow: 0px 0px 1px #2092AE;
	margin: 1px;
}

.HeroInfo .HeroTags .heroTag.Tag3
{
	x: 350px;
	y: 10px;
	transform: rotateZ(5deg);
}

.HeroInfo .HeroTags .Tag1 .tagBacker
{
	animation-name: TagGroove1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.HeroInfo .HeroTags .Tag2 .tagBacker
{
	animation-name: TagGroove2;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.HeroInfo .HeroTags .Tag3 .tagBacker
{
	animation-name: TagGroove3;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.HeroInfo .HeroTags .heroTag.Tag1
{
	x: 0px;
	y: 10px;
	transform: rotateZ(-3deg);
}

.HeroInfo .HeroTags .heroTag.Tag2
{
	x: 170px;
	y: 45px;
	margin-top: 10px;
	transform: rotateZ(3deg);
}

.HeroInfo .HeroTags .heroTag div
{
	font-family: "Pulp";
	font-size: 22px;
	text-transform: uppercase;
	color: white;
	margin: 1px;
  margin-top: 41px;
  padding: 0px 10px;  
	max-width: 200px;
	text-overflow: clip;
	max-height: 36px;
	text-align: center;
}



@keyframes TagGroove1
{
	0%
	{
		transform: rotateZ(-3deg);
	}
	
	25%
	{
		transform: rotateZ(-3deg);
	}
	
	26%
	{
		transform: rotateZ(2deg);
	}
	
	50%
	{
		transform: rotateZ(2deg);
	}
	
	51%
	{
		transform: rotateZ(-1deg);
	}
	
	75%
	{
		transform: rotateZ(-1deg);
	}
	
	76%
	{
		transform: rotateZ(0deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

@keyframes TagGroove2
{
	0%
	{
		transform: rotateZ(4deg);
	}
	
	25%
	{
		transform: rotateZ(4deg);
	}
	
	26%
	{
		transform: rotateZ(-1deg);
	}
	
	50%
	{
		transform: rotateZ(-1deg);
	}
	
	51%
	{
		transform: rotateZ(0deg);
	}
	
	75%
	{
		transform: rotateZ(0deg);
	}
	
	76%
	{
		transform: rotateZ(2deg);
	}
	
	100%
	{
		transform: rotateZ(2deg);
	}
	
}

@keyframes TagGroove3
{
	0%
	{
		transform: rotateZ(-3deg);
	}
	
	25%
	{
		transform: rotateZ(-3deg);
	}
	
	26%
	{
		transform: rotateZ(-1deg);
	}
	
	50%
	{
		transform: rotateZ(-1deg);
	}
	
	51%
	{
		transform: rotateZ(2deg);
	}
	
	75%
	{
		transform: rotateZ(2deg);
	}
	
	76%
	{
		transform: rotateZ(0deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

.HeroAbilities
{
	align-items: center;
	vertical-align: bottom;
	width: 450px;
	height: 100px;
  display: block;
	opacity: 1;
	visibility: collapse;
}

.fullscreen-bg__video {
  width: 100%;
  max-width: 100%;
  min-height: 1000px;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -2;
  z-index: 40;
  position: relative;
    background-image: url("images/1422450_20250820185105_12.png")
}

.fullscreen-bg__video2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
  overflow: hidden;
  overflow-x: hidden;
  width: 100%;
}

.newsbutton {
  border: 3px solid #ffffff50;
  padding: 15px 25px;
  margin: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition-duration: .2s
}

.newsbutton:hover {
  border: 3px solid #ffefd7;
  transform: translateY(-2px);
  color: #ffefd7;
}

.newsbutton .newsbuttontext {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Pulp", sans-serif;
  align-items: center;
  text-align: center;
  color: #fff;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, .3)
}

.downloadcontainer .downloadbutton {
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  margin-right: 12px
}

.downloadcontainer:hover {
  filter: brightness(1.3);
  transform: translateY(-2px);
  box-shadow: 0px 0px 15px #000
}

@media(max-width: 900px) {
  .newsbutton .newsbuttontext {
      font-size: 16px
  }
}

.Recorde {
  width: 80px;
  height: 3px;
  min-height: 3px;
  background-color: #ff6046;
  border-radius: 1px
}

.download-container {
  min-width: 288px;
  height: 78px;
  border-radius: 6px;
  border: 3px solid #ffffff90;
  box-shadow: 0px 0px 5px #000;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
  transition-property: filter, transform, box-shadow;
  transition-timing-function: ease-in-out;
  transition-duration: .1s
}

.download-container:hover {
  filter: brightness(1.3);
  transform: translateY(-2px);
  box-shadow: 0px 0px 15px #000
}

.download-container .steamicon {
  width: 48px;
  height: 48px;
  margin: 0px 8px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media(max-width: 900px) {
  .ContainerShitWE{
    display: none;
  }
}

.download-container .download-button {
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.download-container .download-button .downloadtext {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 2px 2px 3px #000;
  font-family: Reaver, serif;
  font-weight: 600;
}

.download-container .download-button .storepagetext {
  font-size: 15px;
  color: #858585;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px #000;
}

.SNH_bg {
  width: 100%;
  max-width: 100%;
  min-height: 1000px;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -2;
  z-index: 40;
  position: relative;
  background-image: url("images/SNH_image.png")
}

.SNH_bg {
  bottom: 0px
}

@media(max-width: 900px) {
  .SNH_bg {
      margin-top: 400px
  }
}

.SNH_bg {
  text-align: center;
  z-index: 40;
  width: 100%;
  padding-bottom: 40px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}


.SNH_bg {
  bottom: 0px
}

@media(max-width: 900px) {
  .SNH_bg {
      margin-top: 400px
  }
}

.SNH_bg {
  text-align: center;
  z-index: 40;
  width: 100%;
  padding-bottom: 40px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.SNH_bg {
  margin-top: 30px
}

.NYC_bg {
  width: 100%;
  max-width: 100%;
  min-height: 1000px;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -2;
  z-index: 40;
  position: relative;
  background-image: url("images/NYC_Image.png")
}


.NYC_bg {
  bottom: 0px
}

@media(max-width: 900px) {
  .NYC_bg {
      margin-top: 400px
  }
}

.NYC_bg {
  text-align: center;
  z-index: 40;
  width: 100%;
  padding-bottom: 40px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

@media(max-width: 600px) {
  .NYC_bg {
      width: 90%
  }
}

.NYC_bg {
  margin-top: 30px
}

.Major,
.Major * {
    font-family: "Pulp", serif;
    font-weight: 700;
    font-size: 100px;
    color: #e2dace;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align:center; 
    position:relative;
    align-items: center; 
    padding-top: 550px;
    line-height: 105%
}

.Major .Minor,
.Major * .Minor {
    font-size: 70px;
    color: #E2DACE90;
    text-transform: uppercase;
    letter-spacing: 2px
}

@media(max-width: 1600px) {

    .Major .Minor,
    .Major * .Minor {
        font-size: 50px
    }
}

@media(max-width: 900px) {

    .Major .Minor,
    .Major * .Minor {
        font-size: 40px
    }
}

@media(max-width: 1600px) {

    .Major,
    .Major * {
        font-size: 100px
    }
}

@media(max-width: 900px) {

    .Major,
    .Major * {
        font-size: 60px
    }
}

@media(max-width: 600px) {

    .Major,
    .Major * {
        font-size: 50px
    }
}

.HeroTable {
  display: block;
  border: 2px solid transparent;
  padding-top:20px;margin-bottom:10px;margin-left: 60px;margin-right: 50px;
  background-color:transparent;
  overflow: hidden;
}

.HeroCard2 {
  transition: 0.1s transform ease-in-out;
  z-index: 0;
  margin: 6px;
}

.CardText {
  position: absolute; 
  bottom: 0px; 
  text-align: center;
  width: 100%; 
  font-weight: bold; 
  font-family: 'Occult', 'Open Sans'; 
  color: #FFEFD7; 
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.5); 
  font-size: min(5vw, 21px); 
  letter-spacing: 0.5px; 
  margin: 0; 
  text-transform: uppercase; 
  text-overflow: ellipsis; 
  pointer-events: none;
}

.CardBG {
  display:inline-block; 
  border-radius: 1px; 
  overflow:hidden; 
  position: relative; 
  background-color:#564a48;
  border: 3px solid #777;
  border-radius: 5px;
}

.HeroCard2:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.);
  -ms-transform: scale(1.1);
  z-index: 1;

}

.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0px 30px;
  padding-bottom: 100px;
  position: absolute;
  z-index: 9999;
  background: linear-gradient(180deg,rgba(0, 0, 0, 0.51) 24%, rgba(255, 255, 255, 0) 100%);
}

#WeaponStats,#ArmorStats,#TechStats
{
	width: 520px;
	display: flex;
	border-radius: 10px;
	padding-top: 0px;
	padding: 0px;
}

.HeroStatsWeapon {
  overflow: visible;
}

.HeroStatsWeapon .BackgroundContainer {
  background-color: gradient( linear, 0% 0%, 100% 0%, from( #493516 ), to( #271904) );
  background-image: url(images/shop/catalog_tooltip_modifies_header_weapon_psd.png);
  background-size: cover;
}

.BackgroundContainer {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.WeaponContainer {
  background-color: #00000080;
  height: 120px;
  width: 100%;
  overflow: visible;
}

.GunImage {
  width: 250px;
  height: 120px;
  align-content: right;
  margin-left: 270px;
  margin-right: auto;
  vertical-align: bottom;
}

.weaponNameAndAttributes {
  width: 100%;
  padding: 15px;
  top: 1px;
}

.statTitle {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.6;
  margin-bottom: 0px;
  color: white;
  font-family: "Reaver";
}

.WeaponName {
  font-weight: bold;
  font-size: 22px;
  color: white;
  margin-top: 4px;
}

.WeaponAttributesContainer .AttributeLabel {
  background-color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 6px 1px 6px;
  border-radius: 3px;
  margin-top: 8px;
  margin-right: 8px;
}

.AttributeLabel {
  color: white;
}

.WeaponAttributesContainer {
  width: 370px;
  min-height: 27px;
  display: flex;
}

.BulletDPSContainer {
  vertical-align: top;
  margin-bottom: 50px;
}

.StatContainer_DPS {
  margin: 0px;
  border-radius: 0px;
  min-width: 100px;
  right: 0px;
  top: 0px;
}

.statAttributeContainer {
  width: 80px;
  height: 40px;
  margin: 2px;
  padding: 0px 0px 0px 10px;
  border-radius: 3px;
}

.LabelsContainer {
  vertical-align: center;
  font-weight: bold;
  margin-right: 5px;
  float:left;
}

.StatDesc_DPS {
  background-image: url("images/stats/damage_bullet_color.svg");
  opacity: 1;
}

.StatImage {
  width: 18px;
  height: 18px;
  background-size: contain;
  margin-right: 4px;
  margin-top: 3px;
  vertical-align: center;
}

.StatImageArea {
  vertical-align: middle;
  float: left;
}

.BaseLabel {
  font-family: "Reaver";
  max-height: 35px;
  color: white;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

.AdditionalText {
  font-size: 17px;
  vertical-align: middle;
  font-weight: bold;
  opacity: 0.6;
  max-height: 28px;
  color: white;
  float: right;
}

.navbar-container .navbar-border {
  top: 0;
  position: fixed;
  z-index: 9999;
  background-color: transparent;
}

.navbar-container .navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center
}

.navbar-container .navbar .TitleLogo {
  width: 200px;
  min-width: 200px;
  height: 50px;
  min-height: 50px;
  background-image: url("images/logo/deadlocklogo_v2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .8;
  margin-right: 40px
}

.navbar-container .navbar .TitleLogo:hover {
  opacity: 1;
  cursor: pointer
}

@media(max-width: 1300px) {
  .navbar-container .navbar .TitleLogo {
      background-image: url("images/logo/deadlocklogo_v4.png");
      width: 50px;
      min-width: 50px;
      height: 50px;
      min-height: 50px
  }
}

@media(max-width: 900px) {
  .navbar-container .navbar .TitleLogo {
      display: none
  }
}

@media(max-width: 700px) {
  .navbar-container .navbar .TitleLogo {
      display: block
  }
}

.navbar-container .navbar .navbar-buttons-container {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding-top: 4px;
}

@media(max-width: 700px) {
  .navbar-container .navbar .navbar-buttons-container {
      justify-content: center
  }
}

.navbar-container .navbar .navbar-buttons-container .button {
  text-decoration: none;
  font-size: 26px;
  font-family: "Pulp", serif;
  letter-spacing: 1.5px;
  opacity: .8;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0px;
  margin: 0px 20px;
  text-transform: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent
}

.navbar-container .navbar .navbar-buttons-container .buttonnotactive {
  text-decoration: none;
  font-size: 26px;
  font-family: "Pulp", serif;
  letter-spacing: 1.5px;
  opacity: .4;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0px;
  margin: 0px 20px;
  text-transform: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent
}

@media(max-width: 700px) {
  .navbar-container .navbar .navbar-buttons-container .button .buttonnotactive {
      display: none
  }

  .navbar-container .navbar .navbar-buttons-container .button .buttonnotactive .dropdownbutton{
      display: flex
  }
}

.navbar-container .navbar .navbar-buttons-container .button .buttonnotactive .dropdown {
  border: 2px solid transparent;
  transition-duration: .2s;
  padding: 12px 20px;
  margin: 0px
}

.navbar-container .navbar .navbar-buttons-container .button .buttonnotactive .dropdownbutton .dropdown {
  padding: 12px 20px;
  margin: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(244, 244, 244, .2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, .6);
  transition-duration: .2s
}

.navbar-container .navbar .navbar-buttons-container .button .buttonnotactive .dropdownbutton {
  border-bottom: 3px solid #ff6046;
  opacity: 1
}

.navbar-container .navbar .navbar-buttons-container .button:hover {
  opacity: 1;
  cursor: pointer
}

.navbar-container .navbar .navbar-buttons-container .buttonnotactive:hover {
  opacity: 0.4;
}

.navbar-container .navbar .navbar-buttons-container .button .buttonnotactive .dropdownflex {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start
}

.navbar-container .navbar .navbar-buttons-container .button .buttonnotactive .dropdownbutton2 {
  width: 10px;
  height: 6px;
  opacity: .9;
  margin-left: 5px
}

.navbar-container .navbar .navbar-buttons-container .button .buttonnotactive .viewallbutton {
  width: 24px;
  height: 24px;
  margin: 0px 4px;
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react/arrow_left.png");
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotateZ(135deg);
  filter: brightness(0.7)
}

.navbar-container .navbar .navbar-buttons-container .dropdown-container {
  position: absolute;
  top: 64px;
  left: 0;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: rgba(244, 244, 244, .2);
  backdrop-filter: blur(10px);
  opacity: 1;
  z-index: 10000;
  min-height: 0;
  display: flex;
  flex-direction: column;
  transition-duration: .2s;
  border: 2px solid rgba(255, 255, 255, .6)
}

.navbar-container .navbar .navbar-buttons-container .dropdown-container .invisiblebutton {
  opacity: 0;
  pointer-events: none;
  transition-duration: .2s
}

.navbar-container .navbar .navbar-buttons-container .dropdown-container a {
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 5px;
  opacity: .8;
  text-transform: uppercase;
  margin-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  transition-duration: .2s
}

.navbar-container .navbar .navbar-buttons-container .dropdown-container a:hover {
  opacity: 1;
  cursor: pointer;
  transition-duration: .2s;
  transform: translateX(5px)
}

.navbar-container .navbar .playtest-container {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media(max-width: 700px) {
  .navbar-container .navbar .playtest-container {
      text-decoration: none;
      display: none
  }
}

.navbar-container .navbar .playtest-container .sideoptions-container {
  text-decoration: none;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navbar-container .navbar .playtest-container .sideoptions-container .loginsystem {
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff90
}

.navbar-container .navbar .playtest-container .sideoptions-container .loginbutton:hover {
  text-decoration: none;
  color: #fff
}

.navbar-container .navbar .playtest-container .sideoptions-container .loginbutton .invisiblebutton {
  text-decoration: none;
  display: none
}

.navbar-container .navbar .playtest-container .sideoptions-container .logoutbutton {
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 4px;
  color: #fff;
  display: flex;
  flex-direction: row
}

.navbar-container .navbar .playtest-container .sideoptions-container .logoutbutton .invisiblebuttonx {
  text-decoration: none;
  display: none
}

.navbar-container .navbar .playtest-container .sideoptions-container .logoutbutton .logoutbuttona {
  text-decoration: none;
  margin-left: 4px;
  color: #999
}

.navbar-container .navbar .playtest-container .sideoptions-container .logoutbutton .logoutbuttona:hover {
  text-decoration: none;
  color: #ccc
}

.navbar-container .navbar .playtest-container .playtestbutton-container ._3mkXBKss9wSruUD_7H5MtF {
  text-decoration: none;
  margin: 10px 0px 10px 20px
}

@media(max-width: 1200px) {
  .navbar-container .navbar .sideoptions-container .playtestbutton-container {
      text-decoration: none;
      display: none
  }
}

.navbar-container .navbar .hamburger-container {
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  padding: 10px 0px 10px 10px;
  margin-left: 40px;
  opacity: .8;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer
}

@media(max-width: 700px) {
  .navbar-container .navbar .hamburger-container {
      display: flex
  }
}

.navbar-container .navbar .hamburger-container:hover {
  opacity: 1
}

.navbar-container .navbar .hamburger-container .hamburger-line {
  width: 100%;
  height: 5px;
  background-color: #fff;
  border-radius: 2px
}

.navbar-container .mobile-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #0f0f0f;
  display: none;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-timing-function: ease-in;
  transition-duration: .1s
}

.navbar-container .mobile-container .mobile-stuff {
  opacity: 1;
  pointer-events: unset;
  display: flex
}

.navbar-container .mobile-container .TitleLogo-mobile {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

.navbar-container .mobile-container .TitleLogo-mobile .TitleLogo {
  width: 200px;
  min-width: 200px;
  height: 50px;
  min-height: 50px;
  background-image: url("images/logo/deadlocklogo_v2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 20px
}

.navbar-container .mobile-container .TitleLogo-mobile .closebutton {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 26px
}

.navbar-container .mobile-container .button-mobile {
  width: 100%;
  height: 60px;
  background-color: #1b1b1b;
  color: #fff;
  font-family: "Reaver", serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px
}

.navbar-container .mobile-container .button-mobile .arrow-right {
  width: 16px;
  height: 24px;
  margin-right: 18px
}

.navbar-container .mobile-container .list-mobile {
  width: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  padding: 4px 0px
}

.navbar-container .mobile-container .list-mobile .list-button {
  width: 100%;
  height: 30px;
  background-color: #0f0f0f;
  color: #cacaca;
  font-family: "Reaver", serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px
}

.navbar-container .mobile-container .list-mobile .list-button .arrow-right {
  width: 8px;
  height: 12px;
  margin-left: 4px;
  margin-top: 1px
}

.navbar-container .mobile-container .line-color {
  width: 100%;
  height: 1px;
  background-color: #494949
}

.navbar-container .mobile-container .bg-color {
  width: 100%;
  flex-grow: 1;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  justify-content: flex-end
}

.navbar-container .mobile-container .bg-color .login-mobile-container {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

.navbar-container .mobile-container .bg-color .login-mobile-container .loginstuff {
  font-size: 18px;
  margin-left: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff90
}

.navbar-container .mobile-container .bg-color .login-mobile-container .loginstuff .invisiblebutton {
  display: none
}

.navbar-container .mobile-container .bg-color .login-mobile-container .logoutbutton {
  font-size: 18px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  margin-left: 20px
}

.navbar-container .mobile-container .bg-color .login-mobile-container .logoutbutton .invisiblebutton {
  display: none
}

.navbar-container .mobile-container .bg-color .login-mobile-container .logoutbutton .logoutbuttona {
  margin-left: 4px;
  color: #999
}

.navbar-container .mobile-container .bg-color .login-mobile-container .logoutbutton .logoutbuttona:hover {
  color: #ccc
}

.navbar-container .mobile-container .bg-color .playtestbutton-container .playtestbutton {
  text-decoration: none;
  width: calc(100% - 20px);
  margin: 10px 0px 10px 10px
}

.playtestbutton {
  border: 3px solid #ffffff50;
  padding: 15px 25px;
  margin: 10px 2px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition-duration: .2s
}

.playtestbutton:hover {
  border: 3px solid #ffefd7;
  text-decoration: none;
  transform: translateY(-2px);
  color: #ffefd7
}

.playtestbutton .playtestbutton-text {
  font-family: "Pulp", serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, .3)
}

@media(max-width: 900px) {
  .playtestbutton .playtestbutton-text {
      text-decoration: none;
      font-size: 16px
  }
}

.playtestbutton .icon-container {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat
}

.playtestbutton .icon-container .playicon {
  text-decoration: none;
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react/icons/icon-play.svg")
}

.playtestbutton .steamicon {
  text-decoration: none;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react/icons/steam_icon.svg")
}

.borderstyle {
  border: 3px solid #ffffff50;
  padding: 15px 25px;
  margin: 10px 30px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition-duration: .2s
}

.i3o0340 {
  z-index: 0;
}

#NavigationButtons {
  width: 100%;
  align-items: center;
  vertical-align: middle;
  z-index: -1;
}

#StaticContent {
  width: 100%;
  height: 100%;
  z-index: 5;
}

#NextButton {
  vertical-align: right;
  position: absolute;
  right: 0;
  bottom: 450px;
}
  #PrevButton {
  vertical-align: left;
  position: absolute;
  left: 0;
  bottom: 450px;
}

#AbilityAndVideos {
  vertical-align: top;
  margin-top: 120px;
  display: inline-block;
  z-index: 5;
}

#Heroes {margin: 0; height: 100%; overflow-x: hidden}

.AbilityMovie {
  width: 474px;
  height: 270px;
  border: 2px solid #ffffff10;
}

.abilityNameContainer {
  width: 100%;
  padding: 5px 20px;
  border-radius: 0px 3px 3px 0px;
}

.citadelAbilityName {
  font-size: 20px;
  color: #ffefd7;
  font-weight: bold;
  margin-top: 3px;
  position: 0.0px 0.0px 0.0px;
}

.citadelAbilityQuip {
  font-size: 18px;
  opacity: 1;
  color: #988e80;
  font-weight: medium;
  margin-top: 3px;
  position: 0.0px 29.0px 0.0px;
}

@media all and(max-width: 1100px) {
  #NextButton {
  vertical-align: right;
  position: absolute;
  right: 0;
  bottom: 10px;
}
}
@media all and(max-width: 1100px) {
#PrevButton {
  vertical-align: left;
  position: absolute;
  left: 0;
  bottom: 10px;
}
}

#NextButton:hover {
  vertical-align: right;
  transform: scale(1.2);
  transition: 0.1s transform ease-in-out;
}

#NextButton:not(:hover) {
  vertical-align: right;
  transform: scale(1.0);
  transition: 0.1s transform ease-in-out;
}


#PrevButton:hover {
  vertical-align: left;
  transform: scale(1.2);
  transition: 0.1s transform ease-in-out;
}

#PrevButton:not(:hover) {
  vertical-align: left;
  transform: scale(1.0);
  transition: 0.1s transform ease-in-out;
}

#NextButton .backArrow2 {
  transform: rotateY( 180deg );
  vertical-align: right;
}

.navigationButton {
  padding: 10px;
  height: 100px;
  opacity: 0.8;
  float: left;
  background-color: #ffffff10;
  transition-property: opacity, border, background-color;
  transition-duration: 0.3s;
}

.navigationButton2 {
  padding: 10px;
  height: 100px;
  opacity: 0.8;
  float: right;
  background-color: #ffffff10;
  transition-property: opacity, border, background-color;
  transition-duration: 0.3s;
}

.navigationButton .backArrow {
  width: 20px;
  padding-top: 75px;
  filter: brightness(0) saturate(100%) invert(99%) sepia(16%) saturate(33%) hue-rotate(253deg) brightness(114%) contrast(100%);
  height: 20px;  
  position: 0.0px, 0.0px, 0.0px;
}

.navigationButton2 .backArrow2 {
  width: 20px;
  filter: brightness(0) saturate(100%) invert(99%) sepia(16%) saturate(33%) hue-rotate(253deg) brightness(114%) contrast(100%);
  height: 20px;
  padding-top: 75px;
  position: 0.0px, 0.0px, 0.0px;
}

.backArrow {
  background-size: 100% 100%;
  background-image: url("images/graphics/arrow_west.svg");
  vertical-align: center;
}

.backArrow2 {
  background-size: 100% 100%;
  background-image: url("images/graphics/arrow_west.svg");
  vertical-align: center;
}

#HeroDetailsContainer {
  width: 100%;
  position: 0.0px 0.0px 0.0px;
  flex-direction: column-reverse;
}

#HeroDetailsContainer #HeroDetails {
  width: 100%;
  flex-direction: column-reverse;
}



#HeroDetails {
  padding: 40px;
  position: 0.0px 0.0px 0.0px;
}

#LeftPanel {
  width: 600px;
  margin-top: 150px;
  flex-direction: column-reverse;
  margin-left: 150px;
  z-index: 1;
  align-items: center;
}

@media all and (max-width: 1600px) {
  #LeftPanel {
    margin-left: 50px;
  }
}
#RightPanel {
  width: 1300px;
  height: 100%;
  margin-left: 550px;
  flex-direction: column-reverse;
  z-index: -1;
  align-items: center;
}


.mu24 {
  font-family: "Pulp", serif;
  color: #ffefd7;
  font-size: 114px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  padding-top: 25px;
  letter-spacing: 3px;
}

.updates-container {
  width: 100%;
}

.LinkContainer {
  display:flex; 
  justify-content: center;
  margin-left: 400px;
  margin-right: 400px;
  position: relative;
  height: auto;
}

@media all and (min-width: 992px) {
.imagerupdate1 .imagerupdate10 {
  width: 40%;
    display:flex; 
  justify-content: center;
  margin: auto;
  position: relative;
  height: auto;
  opacity: 0.8;
}
}

@media all and (min-width: 768px) {
  .imagerupdate1 .imagerupdate10 {
  width: 30%;
    display:flex; 
  justify-content: center;
  margin: auto;
  position: relative;
  height: auto;
  opacity: 0.8;
}
}

@media all and (min-width: 600px) {
  .imagerupdate1 .imagerupdate10 {
  width: 10%;
    display:flex; 
  justify-content: center;
  margin: auto;
  position: relative;
  height: auto;
  opacity: 0.8;
}
}

.imagerupdate1  {
  width: 100%;
  display:flex; 
  border: 3px solid #988e80;
  justify-content: center;
  margin: auto;
  position: relative;
  height: auto;
  opacity: 0.8;
}

.imagerupdate10  {
  width: 100%;
    display:flex; 
  border: 3px solid #1886B9;
  justify-content: center;
  margin: auto;
  position: relative;
  height: auto;
  opacity: 0.8;
}

.imagerupdate10:hover {
  transform: scale(1.1);
  opacity: 1.0;
  transition: 0.1s ease-in-out;
  }
  
  .imagerupdate10:not(hover) {
  transform: scale(1.0);
  opacity: .8;
  transition: 0.1s ease-in-out;
  }

.imagerupdate1:hover {
transform: scale(1.1);
opacity: 1.0;
transition: 0.1s ease-in-out;
}

.imagerupdate1:not(hover) {
transform: scale(1.0);
opacity: .8;
transition: 0.1s ease-in-out;
}

#HeroScenePanel {
  width: 1840px;
  display: block;
  padding-left: 150px;
  margin-top: -650px;
  height: 100%;
  align-items: center;
  z-index: 100;
}

#HeroScenePanel2 {
  width: 1640px;
  padding-left: 450px;
  margin-top: -550px;
  height: 100%;
  align-items: center;
  display: flex;
  z-index: 100;
}

.imagesize {
  width: 70%;
}

@media all and (max-width: 1600px) {
  #HeroScenePanel2 {
    margin-top: -500px;
    display: block;
  }
  }

@media all and (max-width: 1600px) {
  .imagesize {
    width: 50%;
  }
  }


@media all and (max-width: 1300px) {
.imagesize {
  width: 50%;
}
}


.TableSkills {
   align-items: center; display:inline-block; padding-bottom: 15px; padding-left: 75px; width:min(768px, 90vw);
}

.HeroNameAndLevelsIcon {
  align-items: center;
  z-index: 0;
}

.LeftRightFlow {
  flex-direction: row;
}

#HeroName {
  font-size: 80px;
  font-weight: bold;
  font-family: "Pulp";
  letter-spacing: 0.5px;
  line-height: 80px;
  text-overflow: shrink;
  text-align: center;
  align-items: center;
  display: block;
  color: #ffefd7;
  text-transform: uppercase;
  max-height: 140px;
  z-index: 0;
  position: 0.0px 0.0px 0.0px;
}

#HeroType {
  font-size: 22px;
  font-weight: bold;
  color: #988e80;
  font-weight: medium;
  display: block;
  margin-bottom: 15px;
  text-align: center;
  align-items: center;
  position: 0.0px 91.0px 0.0px;
}

#HeroLore {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  text-shadow: 2px 2px 0px #00000090;
  margin-top: 15px;
  padding-top: 15px;
  font-family: "Retail";
  color: #FFEFD790;
}

/*
#AbilityIconsContainer {
  z-index: 10;
  float: right;
  overflow: hidden;
  align-items: center;
  margin: -10px 0px 20px 0px;
  position: 0.0px 135.0px 0.0px;
}

.CitadelAbilityIcon {
  margin: 0px -5px;
  border-radius: 10px;
  width: 67%;
  height: 67%;
  opacity: 0.9;
}

.ability_container {
  width: fit-content;
  align-items: center;
  height: fit-content;
}

.button_container {
  width: 120px;
  margin: 0px -5px;
  align-items: center;
  height: 120px;
}

.ability_bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: brightness(0) saturate(100%) invert(91%) sepia(15%) saturate(724%) hue-rotate(317deg) brightness(105%) contrast(106%);
  background-image: url(svg/ability_frame.svg);
} 




.ability_name {
  text-align: center;
  align-items: center;
  font-size: 12px;
  color: darkgrey;
  text-transform: uppercase;
}

.has_ability_image .ability_name {
  visibility: collapse;
}

.HasKeyBind .ability_key_container {
  visibility: visible;
}

.ability_key_container {
  width: fit-content;
  align-items: center;
  padding-top: 0px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
  background-size: cover;
  border-radius: 2px;
  height: fit-content;
}

.ability_image {
  height: 50%;
  margin-top: 0px;
  width: 100%;
  align-items: center;
  opacity: 0.95;
  z-index: 10;
}

.has_ability_image .ability_image {
  visibility: visible;
}
*/

.ability-icon {
  filter: invert(100%);
  opacity: 0.7;
  width: 90%;
}

.abilityImageRe {
  z-index: -1; 
  position:absolute;
  filter: brightness(0) saturate(100%) invert(44%) sepia(60%) saturate(566%) hue-rotate(145deg) brightness(96%) contrast(91%);
}

.abilityImage {
margin: 6px;
width: 90%;
}

.abilityImage:hover {
margin: 6px;
transform: scale(1.1);
transition: 0.1s ease-in-out;


}

.abilityImage:not(hover) {
margin: 6px;
transform: scale(1.0);
transition: 0.1s ease-in-out;
}

.image_container {
  width: 100%;
  height: 100%;
  align-items: center;
}

#active_toggle {
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 2px solid yellow;
  box-shadow: inset rgba(255,255,0, 0.2) 0px 0px 12px 0px;
}

figure[typeof~='mw:File/Thumb'].mw-halign-center,figure[typeof~='mw:File/Frame'].mw-halign-center {
  margin: 0 auto 0.5em auto;
  clear: none;
  float: none;
}

figure[typeof~='mw:File'].mw-halign-center,figure[typeof~='mw:File/Frameless'].mw-halign-center {
  margin: 0 auto;
  display: table;
  border-collapse: collapse;
  clear: none;
  float: none;
}

.embedvideo.mw-halign-right,.embedvideo.mw-halign-left,.embedvideo.mw-halign-none,.embedvideo.mw-halign-center {
  display: block;
}

.embedvideo.mw-halign-center {
  margin: 0 auto;
  display: table;
  border-collapse: collapse;
  clear: none;
  float: none;
}






@keyframes BGGroove
{
	0%
	{
		transform: skew(-10deg);
	}
	
	50%
	{
		transform: skew(10deg);
	}
	
	100%
	{
		transform: skew(-10deg);
	}
	
}






.eE3ffgr4 {
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  z-index: -1;
}

.bar3 {
  width: 150px;
  height: 3px;
  min-height: 3px;
  align-items: center;
  display: flex;
  margin: auto;
  margin-top: 45px;
  justify-content: center;
  background-color: #ff5757;
  border-radius: 1px;
}

.bar69 {
  width: 250px;
  height: 3px;
  min-height: 3px;
  align-items: center;
  display: flex;
  margin: auto;
  margin-top: 25px;
  justify-content: center;
  background-color: #ff5757;
  border-radius: 1px;
  margin-bottom: 200px;
}

.e3refd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  font-family: "Reaver",serif;
  font-weight: 600;
  padding-left: 230px;
  padding-top: 52px;
  padding-right: 230px;
  color: #e2dace;

}

.e3refd09 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 82px;
  font-family: "Reaver",serif;
}

@media(max-width: 1600px) {

  .e3refd {
      font-size: 30px;
  }
}

.main-footer {
  margin-left: -19vw;
  margin-right: -19vw;
  margin-bottom: -15px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
  background: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
}

.gallery {
  display: block;
  margin-top: 125px;
  margin-right: 250px;
  float: right;
}

.ringespiel {
  padding-left: 70px;
  padding-right: 70px;
}

.addspaces {
  padding-top: 150px;
}
.textlist {
  list-style-position: outside;
  margin-bottom: 5px;
}

.inlinelist {
  display: block;
  padding-inline-start:40px;
}

.UpdateTab .linespace {
  font-size: 18px;
  color: rgba(255,255,255,.7);
  z-index: 2;
  margin-left: 20px;
  margin-bottom: 10px;
  line-height: 26px;
}

.UpdateTab .PatchName {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 8px;
  text-shadow: 0px 0px 10px #000;
  font-family: "Reaver",serif;
  font-weight: bold;
  text-transform: none;
  letter-spacing: 1px;
  font-size: 34px;
  color: #fff;
  z-index: 2;
}

.UpdateTab .Date {
  color: rgba(255,255,255,.7);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 8px;
  z-index: 2;
  font-weight: lighter;
}

.UpdateTab a {
  text-decoration: underline;
  transition-duration: .2s;
}

.UpdateTab a:hover {
  filter: brightness(1.2);
}

.UpdateTab h2 {
  font-weight: 600;
  color: #fff;
  font-size: 18px;
}

.UpdateTab ul {
  margin-top: 10px;
}

.UpdateTab {
  width: 100%;
  justify-items: left;
  position: relative;
  text-align: left;
  border-left: 2px solid #ffefd7;
  background-color: #0b0b0b;
  padding: 20px 20px;
  margin: 40px 0px;
}

.Footer {
  background-image: linear-gradient(180deg, transparent, black 8%);
  text-align: center;
  width: 100%;
  z-index: 5;
  padding: 30px;
}

.Footer .ValveLink {
  margin: 0 auto;
  max-width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 375px) {
  .Footer .ValveLink {
      flex-direction:column;
      align-items: center;
  }
}

.Footer .ValveLink .ValveLogo  {
  margin: 0px 15px 20px 15px;
  max-height: 30px;
}

.Footer .rights {
  text-align: center;
  font-size: 14px;
  color: #777;
  width: 60%;
  margin: 0 auto;
  max-width: 500px;
}

@media only screen and (max-width: 600px) {
  .Footer .rights {
      width:80%;
  }
}

.stats-container {
  border-radius: 3px;
  background-color: #000;
  border-bottom: 3px;
  border-top: 3px;
  border-color: #494949;
  width: 100%;
  align-content: center;
}

[data-aos=fade-zoom-in] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: scale(0)
}

[data-aos=fade-zoom-in] &.aos-animate {
  opacity: 1;
  transform: scale(1)
}

[data-aos=fade-slide-right] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(-40%)
}

[data-aos=fade-slide-right] &.aos-animate {
  opacity: 1;
  transform: translateX(0)
}

[data-aos=fade-slide-left] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(40%)
}

[data-aos=fade-slide-left] &.aos-animate {
  opacity: 1;
  transform: translateX(0)
}

[data-aos=fade-slide-up] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(40%)
}

[data-aos=fade-slide-up] &.aos-animate {
  opacity: 1;
  transform: translateX(0)
}

[data-aos=fade-slide-down] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(-40%)
}

[data-aos=fade-slide-down] &.aos-animate {
  opacity: 1;
  transform: translateX(0)
}

[data-aos=rotate] {
  transition-property: transform;
  transform: rotateZ(0deg)
}

[data-aos=rotate] &[data-aos-rotate-bottom] {
  transform-origin: bottom center
}

[data-aos=rotate] &[data-aos-rotate="10"].aos-animate {
  transform: rotateZ(10deg)
}

[data-aos=rotate] &[data-aos-rotate="20"].aos-animate {
  transform: rotateZ(20deg)
}

[data-aos=rotate] &[data-aos-rotate="30"].aos-animate {
  transform: rotateZ(30deg)
}

[data-aos=rotate] &[data-aos-rotate="40"].aos-animate {
  transform: rotateZ(40deg)
}

[data-aos=rotate] &[data-aos-rotate="50"].aos-animate {
  transform: rotateZ(50deg)
}

[data-aos=rotate] &[data-aos-rotate="60"].aos-animate {
  transform: rotateZ(60deg)
}

[data-aos=rotate] &[data-aos-rotate="70"].aos-animate {
  transform: rotateZ(70deg)
}

[data-aos=rotate] &[data-aos-rotate="80"].aos-animate {
  transform: rotateZ(80deg)
}

[data-aos=rotate] &[data-aos-rotate="90"].aos-animate {
  transform: rotateZ(90deg)
}

[data-aos=rotate] &[data-aos-rotate="100"].aos-animate {
  transform: rotateZ(100deg)
}

[data-aos=rotate] &[data-aos-rotate="110"].aos-animate {
  transform: rotateZ(110deg)
}

[data-aos=rotate] &[data-aos-rotate="120"].aos-animate {
  transform: rotateZ(120deg)
}

[data-aos=rotate] &[data-aos-rotate="130"].aos-animate {
  transform: rotateZ(130deg)
}

[data-aos=rotate] &[data-aos-rotate="140"].aos-animate {
  transform: rotateZ(140deg)
}

[data-aos=rotate] &[data-aos-rotate="150"].aos-animate {
  transform: rotateZ(150deg)
}

[data-aos=rotate] &[data-aos-rotate="160"].aos-animate {
  transform: rotateZ(160deg)
}

[data-aos=rotate] &[data-aos-rotate="170"].aos-animate {
  transform: rotateZ(170deg)
}

[data-aos=rotate] &[data-aos-rotate="180"].aos-animate {
  transform: rotateZ(180deg)
}

[data-aos=rotate] &[data-aos-rotate="190"].aos-animate {
  transform: rotateZ(190deg)
}

[data-aos=rotate] &[data-aos-rotate="200"].aos-animate {
  transform: rotateZ(200deg)
}

[data-aos=rotate] &[data-aos-rotate="210"].aos-animate {
  transform: rotateZ(210deg)
}

[data-aos=rotate] &[data-aos-rotate="220"].aos-animate {
  transform: rotateZ(220deg)
}

[data-aos=rotate] &[data-aos-rotate="230"].aos-animate {
  transform: rotateZ(230deg)
}

[data-aos=rotate] &[data-aos-rotate="240"].aos-animate {
  transform: rotateZ(240deg)
}

[data-aos=rotate] &[data-aos-rotate="250"].aos-animate {
  transform: rotateZ(250deg)
}

[data-aos=rotate] &[data-aos-rotate="260"].aos-animate {
  transform: rotateZ(260deg)
}

[data-aos=rotate] &[data-aos-rotate="270"].aos-animate {
  transform: rotateZ(270deg)
}

[data-aos=rotate] &[data-aos-rotate="280"].aos-animate {
  transform: rotateZ(280deg)
}

[data-aos=rotate] &[data-aos-rotate="290"].aos-animate {
  transform: rotateZ(290deg)
}

[data-aos=rotate] &[data-aos-rotate="300"].aos-animate {
  transform: rotateZ(300deg)
}

[data-aos=rotate] &[data-aos-rotate="310"].aos-animate {
  transform: rotateZ(310deg)
}

[data-aos=rotate] &[data-aos-rotate="320"].aos-animate {
  transform: rotateZ(320deg)
}

[data-aos=rotate] &[data-aos-rotate="330"].aos-animate {
  transform: rotateZ(330deg)
}

[data-aos=rotate] &[data-aos-rotate="340"].aos-animate {
  transform: rotateZ(340deg)
}

[data-aos=rotate] &[data-aos-rotate="350"].aos-animate {
  transform: rotateZ(350deg)
}

[data-aos=rotate] &[data-aos-rotate="-10"].aos-animate {
  transform: rotateZ(-10deg)
}

[data-aos=rotate] &[data-aos-rotate="-20"].aos-animate {
  transform: rotateZ(-20deg)
}

[data-aos=rotate] &[data-aos-rotate="-30"].aos-animate {
  transform: rotateZ(-30deg)
}

[data-aos=rotate] &[data-aos-rotate="-40"].aos-animate {
  transform: rotateZ(-40deg)
}

[data-aos=rotate] &[data-aos-rotate="-50"].aos-animate {
  transform: rotateZ(-50deg)
}

[data-aos=rotate] &[data-aos-rotate="-60"].aos-animate {
  transform: rotateZ(-60deg)
}

[data-aos=rotate] &[data-aos-rotate="-70"].aos-animate {
  transform: rotateZ(-70deg)
}

[data-aos=rotate] &[data-aos-rotate="-80"].aos-animate {
  transform: rotateZ(-80deg)
}

[data-aos=rotate] &[data-aos-rotate="-90"].aos-animate {
  transform: rotateZ(-90deg)
}

[data-aos=rotate] &[data-aos-rotate="-100"].aos-animate {
  transform: rotateZ(-100deg)
}

[data-aos=rotate] &[data-aos-rotate="-110"].aos-animate {
  transform: rotateZ(-110deg)
}

[data-aos=rotate] &[data-aos-rotate="-120"].aos-animate {
  transform: rotateZ(-120deg)
}

[data-aos=rotate] &[data-aos-rotate="-130"].aos-animate {
  transform: rotateZ(-130deg)
}

[data-aos=rotate] &[data-aos-rotate="-140"].aos-animate {
  transform: rotateZ(-140deg)
}

[data-aos=rotate] &[data-aos-rotate="-150"].aos-animate {
  transform: rotateZ(-150deg)
}

[data-aos=rotate] &[data-aos-rotate="-160"].aos-animate {
  transform: rotateZ(-160deg)
}

[data-aos=rotate] &[data-aos-rotate="-170"].aos-animate {
  transform: rotateZ(-170deg)
}

[data-aos=rotate] &[data-aos-rotate="-180"].aos-animate {
  transform: rotateZ(-180deg)
}

[data-aos=rotate] &[data-aos-rotate="-190"].aos-animate {
  transform: rotateZ(-190deg)
}

[data-aos=rotate] &[data-aos-rotate="-200"].aos-animate {
  transform: rotateZ(-200deg)
}

[data-aos=rotate] &[data-aos-rotate="-210"].aos-animate {
  transform: rotateZ(-210deg)
}

[data-aos=rotate] &[data-aos-rotate="-220"].aos-animate {
  transform: rotateZ(-220deg)
}

[data-aos=rotate] &[data-aos-rotate="-230"].aos-animate {
  transform: rotateZ(-230deg)
}

[data-aos=rotate] &[data-aos-rotate="-240"].aos-animate {
  transform: rotateZ(-240deg)
}

[data-aos=rotate] &[data-aos-rotate="-250"].aos-animate {
  transform: rotateZ(-250deg)
}

[data-aos=rotate] &[data-aos-rotate="-260"].aos-animate {
  transform: rotateZ(-260deg)
}

[data-aos=rotate] &[data-aos-rotate="-270"].aos-animate {
  transform: rotateZ(-270deg)
}

[data-aos=rotate] &[data-aos-rotate="-280"].aos-animate {
  transform: rotateZ(-280deg)
}

[data-aos=rotate] &[data-aos-rotate="-290"].aos-animate {
  transform: rotateZ(-290deg)
}

[data-aos=rotate] &[data-aos-rotate="-300"].aos-animate {
  transform: rotateZ(-300deg)
}

[data-aos=rotate] &[data-aos-rotate="-310"].aos-animate {
  transform: rotateZ(-310deg)
}

[data-aos=rotate] &[data-aos-rotate="-320"].aos-animate {
  transform: rotateZ(-320deg)
}

[data-aos=rotate] &[data-aos-rotate="-330"].aos-animate {
  transform: rotateZ(-330deg)
}

[data-aos=rotate] &[data-aos-rotate="-340"].aos-animate {
  transform: rotateZ(-340deg)
}

[data-aos=rotate] &[data-aos-rotate="-350"].aos-animate {
  transform: rotateZ(-350deg)
}

.AbilityContainer {
  font-size: 15px;
  line-height: 1.5;
  font-family: 'Retail', 'Open Sans';
  color: #FFEFD7;
  display: flex;
  flex-direction: column;
  background: rgb(52, 52, 52);
  background: linear-gradient(90deg, rgba(52, 52, 52, 1) 0%, rgba(66, 66, 66, 1) 14%, rgba(77, 77, 77, 1) 100%);
  align-items: center;
  width: 100%;
  max-width: 500px;
  display: none;
  border-radius: 13px 13px 4px 4px;
}

.AbilityHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #121212;
  font-size: calc(1em - 2px);
  border-radius: 13px 13px 0 0;
  padding: 0 8px 14px 8px
}

.AbilityHeaderTop {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.AbilityHeaderFlex {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  height: 40px
}

.AbilityStatsMainContainer {
  background-color: #2C2C2C;
  padding: 10px 6px 10px 6px;
  margin-right: 20px;
  white-space: nowrap;
}

.AbilityStatsIconGrey {
  position: relative; 
  filter: brightness(0) saturate(100%) invert(69%) sepia(4%) saturate(19%) hue-rotate(356deg) brightness(87%) contrast(95%);
}